@use './variable.scss' as var;

@mixin grocery-item($bg: none, $border: none) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  transition: var.$transition;
  padding: 0.25rem 1rem;
  border-radius: var.$radius;
  text-transform: capitalize;
  background: $bg;
  border: $border;
}
